@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  font-family: "Lato", sans-serif;
  /* color: rgb(59, 59, 59); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1000px;
  width: 90%;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.turquoise {
  color: rgb(60, 196, 188);
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.invisible {
  opacity: 0;
}

/* NAV */

Nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.nav__top {
  background-color: rgb(196, 212, 208);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.nav__top--wrapper {
  max-width: 1000px;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: space-between;
  z-index: 2;
}

.nav__top--logo {
  height: 48px;
}

.nav__top--menu {
  display: none;
  transition: all 300ms ease;
  font-size: 24px;
  color: rgb(59, 59, 59);
}

.nav__top--closeMenu {
  display: none;
  transition: all 300ms ease;
  font-size: 24px;
  color: rgb(59, 59, 59);
  position: absolute;
}

.menu {
  position: absolute;
  transition: all 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  width: 100vw;
  top: 72px;
}

.menu.menu__open {
  background: rgba(255, 255, 255, 0.4); /* translucent background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  padding: 24px 16px;
  border-radius: 0 0 10px 10px;
  transform: scaleY(1);
}

.menu__links--list {
  transition: all 300ms ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.menu.menu__open > .menu__links--list {
  opacity: 1;
}

.menu__links--list > :first-child {
  margin-top: 0;
}

.menu__link {
  list-style-type: none;
  font-size: 24px;
  margin-top: 32px;
}

.menu__link--href {
  color: rgb(59, 59, 59);
}

.nav__top--right {
  display: flex;
  align-items: center;
  position: relative;
}

.nav__top--icon {
  background-color: rgb(60, 196, 188);
  width: 16px;
  height: 16px;
  border-radius: 50px;
  padding: 10px;
  color: white;
  margin-right: 4px;
}

.nav__contact {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.nav__top--splitter {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: 16px;
}

.nav__contact--textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__contact--text {
  transition: all 250ms ease;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 8px;
  cursor: default;
}

.nav__contact--text.bottom {
  transform: translateY(-2px);
}

.nav__contact--text.top {
  transform: translateY(2px);
}

.nav__link {
  transition: all 250ms ease;
  font-family: "Roboto Condensed", sans-serif;
  color: black;
}

.nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav__bottom {
  transition: all 500ms ease;
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 2;
}

.nav__bottom--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 90%;
}

.nav__bottom--links {
  height: 40px;
  display: flex;
  align-items: center;
}

.nav__bottom--link--container {
  transition: all 250ms ease;
  height: 100%;
  padding: 8px 24px;
  cursor: pointer;
  position: relative;
}

.nav__bottom--link--container::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav__bottom--links > :last-child::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav__bottom--link--container:hover {
  background-color: rgb(60, 196, 188);
}

.active {
  background-color: rgb(60, 196, 188);
}

.active:hover {
  background-color: rgb(51, 163, 156);
}

.nav__bottom--link {
  height: 100%;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.nav__bottom--arrow {
  transition: all 250ms ease;
  color: white;
  padding: 10px 14px;
  background-color: rgb(60, 196, 188);
  height: 20px;
  cursor: pointer;
}

.nav__bottom--arrow.showNavBottom {
  background-color: rgb(172, 204, 212);
  transition: all 500ms ease;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px 0px 8px 8px;
  z-index: 1;
  transform: translateY(-100%);
  cursor: pointer;
}

.nav__bottom--arrow.showNavBottom:hover {
  background-color: rgb(153, 182, 189);
}

.nav__bottom--arrow:hover {
  background-color: rgb(51, 163, 156);
}

.nav__bottom.close {
  transform: translateY(-100%);
}

.showNavBottom.open {
  transform: translateY(0px);
}

/* HEADER */

.moveDown {
  transform: translateY(72px);
}

header {
  height: calc(85vh);
  z-index: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header__bgfilter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  bottom: 0;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0px;
}

.header__bg--img {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0%;
  transition: all 500ms ease;
  transform: translateY(-20%);
}

.visible {
  opacity: 1;
}

.header__left {
  left: 0;
}

.header__right {
  right: 0;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.header__arrow {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  font-size: 24px;
  width: 80px;
  z-index: 1;
  color: rgb(137, 137, 137);
  cursor: pointer;
  transition: all 300ms ease;
}

.header__arrow:hover {
  color: white;
}

.header__arrow:hover .header__arrow--left {
  background-color: rgb(51, 163, 156);
}

.header__arrow--left {
  transition: all 300ms ease;
  margin-left: 24px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
}

.header__arrow--right {
  transition: all 300ms ease;
  margin-right: 24px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
}

.header__arrow:hover .header__arrow--right {
  background-color: rgb(51, 163, 156);
}

.header__wrapper {
  width: 80%;
  max-width: 1000px;
}

.header__content {
  width: 55%;
  color: white;
}

.header__content--title {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.header__content--subtitle {
  font-size: 20px;
  font-weight: 800;
}

.header__content--buttons {
  margin-top: 48px;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.header__button {
  width: 45%;
  height: 48px;
  color: white;
  border-radius: 4px;
  margin-right: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease;
}

.header__button--left {
  background-color: rgb(60, 196, 188);
  border: none;
}

.header__button--left:hover {
  background-color: rgb(51, 163, 156);
}

.header__button--right {
  border: 2px solid white;
  background: transparent;
}

.header__button--right:hover {
  background: rgba(0, 0, 0, 0.2);
}

.scrollGif__icon {
  display: none;
  position: absolute;
  left: 49%;
}

.scrollGif__icon.phone {
  color: rgb(255, 255, 255);
  font-size: 32px;
  bottom: 32px;
  animation: swipePhone 5000ms linear infinite;
  transform: translateY(-40px);
}

@keyframes swipePhone {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.scrollGif__icon.point {
  font-size: 32px;
  color: rgb(60, 196, 188);
  bottom: 20px;
  animation: swipePoint 10000ms linear infinite;
  bottom: 60px;
}

@keyframes swipePoint {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  5% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  10% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(-30px);

  }
  25% {
    transform: translateX(-30px);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 0;
  }

  40% {
    transform: translateX(-30px);
  }
  
  50% {
    transform: translateX(0);
    opacity: 0;
    transform: scale(2);  
  }

  55% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateX(0px);
  }
  65% {
    transform: translateX(30px);
  }
  75% {
    transform: translateX(30px);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(30px);
    opacity: 0;
  }
}

.photoCircles__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
}

.photoCircles__wrapper>:last-child {
  margin-right: 0;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border: 2px solid white;
  border-radius: 100%;
}

.circle.selected {
  background-color: white;
  width: 12px;
  height: 12px;
}

/* MAIN FADEINDIV */

.fadeInDiv {
  opacity: 0;
  transform: translateY(80px);
  transition: all 1000ms ease-out;
}

.fadeInDiv.fadeIn {
  opacity: 1;
  transform: translateY(0px);
}

/* MAIN - SECTION1*/
main {
  display: flex;
  max-width: 1000px;
  width: 80vw;
  flex-direction: column;
  align-items: center;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 120px 0;
}

.section__description {
  max-width: 500px;
  text-align: center;
}

.section__title {
  position: relative;
  font-weight: 900;
}

.section__title::after {
  content: "";
  width: 8px;
  height: 0px;
  position: absolute;
  border: 1px solid black;
  bottom: -10px;
  left: 50%;
}

.section__para {
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
}

.services {
  margin-top: 40px;
  display: flex;
  display: flex;
  justify-content: space-between;
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 33%;
}

.service__logo {
  padding: 20px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(73, 255, 243);
}

.service__title {
  font-weight: 800;
  margin: 16px 0 8px 0;
}

.service__para {
  font-size: 14px;
}

/* MAIN - ABOUT US */

.section__wrapper.aboutUs {
  width: 100%;
  position: relative;
}

.section__wrapper.aboutUs.phone {
  display: none;
}

.aboutUs__bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  bottom: 0;
  z-index: -2;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.aboutUs__bg--img {
  position: absolute;
  height: 200%;
  opacity: 0.2;
  transform: translateY(-23%);
}

.aboutUs__bgfilter {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.aboutUs__sections {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 48px 0 48px 0;
}

.aboutUs__sections--links {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.aboutUs__sections--bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgb(51, 163, 156);
}

.aboutUs__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  font-weight: 700;
  width: calc(100vw / 3);
  background-color: white;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  z-index: 1;
  transition: all 500ms ease;
}

.aboutUs__button--text {
  z-index: 2;
}

.aboutUs__button:hover {
  background-color: rgb(215, 215, 215);
}

.aboutUs__button.active {
  color: white;
}

.aboutUs__button.active::after {
  height: 94%;
}

.aboutUs__button::after {
  transition: all 300ms ease;
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  border: 3px solid rgb(60, 196, 188);
  top: -2px;
  border-radius: 4px;
  background-color: rgb(60, 196, 188);
  z-index: 0;
}

.aboutUsContent__wrapper {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  width: 100%;
}

.aboutUsContent__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.aboutUsContent__left--title {
  font-size: 24px;
  font-weight: 800;
}

.aboutUsContent__left--para {
  margin-top: 16px;
  font-size: 20px;
}

.aboutUsContent__right {
  display: flex;
  align-items: center;
  width: 45%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.aboutUsContent__right--img {
  width: 100%;
  transition: all 300ms ease;
}

.aboutUsContent__right--img.horizontal {
  height: 100%;
  width: 100%;
}

.aboutUsContent__eye {
  z-index: 1;
  font-size: 48px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 300ms ease;
}

.aboutUsContent__right:hover .aboutUsContent__eye {
  opacity: 1;
}

.aboutUsContent__right:hover .aboutUsContent__right--img {
  transform: scale(110%);
  filter: blur(3px);
}

.aboutUsContent__arrows {
  position: absolute;
  right: 15%;
  bottom: -72px;
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.aboutUsContent__arrow {
  padding: 12px 18px;
  border-radius: 100%;
  background-color: rgb(172, 204, 212);
  font-size: 24px;
  transition: all 300ms ease;
  cursor: pointer;
  display: none;
}

.aboutUsContent__arrow.visible {
  display: block;
}

.aboutUsContent__arrow:hover {
  background-color: rgb(172, 204, 212);
  background-color: rgb(60, 196, 188);
  color: white;
}

/* PHOTO VIEWER */

.photoViewer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoViewer__close {
  position: absolute;
  left: 32px;
  top: 24px;
  color: white;
  border-radius: 100%;
  padding: 8px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.photoViewer__img--container {
  width: 72vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.photoViewer__img {
  height: 100%;
}

.photoViewer__arrow--left, .photoViewer__arrow--right{
  margin: 0 24px;
  padding: 16px 20px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 300ms ease;
}

.photoViewer__previews {
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoViewer__preview {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.photoViewer__preview.selected {
  border: 3px solid rgb(60, 196, 188);
}

.photoViewer__preview--img {
  width: 100%;
  height: 100%;
}

/* QUOTES */
.quotes__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.quotes.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.quotes__bg {
  display: flex;
  align-items: center;
}

.quotes__wrapper::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.75);
}

.quotes__bg--img {
  opacity: 0.9;
  z-index: -2;
  position: absolute;
  left: 0;
  width: 100%;
}

.quotes__quote {
  font-weight: 900;
  font-size: 24px;
  color: white;
  max-width: 640px;
}

.quotes__quote.bottom {
  font-weight: 900;
  font-size: 48px;
  color: white;
  max-width: 720px;
  margin-top: 4px;
}

/* FOOTER */

.footer__wrapper {
  width: 100vw;
  height: 280px;
  display: flex;
  justify-content: center;
  background-color: rgb(196, 212, 208);
  padding: 64px 0 48px 0;
  position: relative;
}

.wrapper.footer {
  display: flex;
}

.footer__bg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 72vw;
  background-color: rgb(26, 26, 26);
  z-index: 0;
}

.footer__links--list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 64px;
}

.footer__links--list::before {
  content: "";
  width: 24px;
  height: 0;
  border: 1px solid rgb(186, 186, 186);
  position: absolute;
  z-index: 2;
  top: 40px;
}

.footer__link {
  list-style-type: none;
  z-index: 2;
}

.footer__link--href {
  color: rgb(186, 186, 186);
  font-weight: 300;
  font-size: 16px;
  transition: all 300ms ease;
}

.footer__link--href:hover {
  color: rgb(231, 231, 231);
}

.footer__right {
  width: 28vw;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer__img {
  width: 56%;
}
.footer__quote {
  font-weight: 400;
}

@media (max-width: 1170px) {
  .header__content--title {
    font-size: 36px;
  }
}

@media (max-width: 1115px) {
  .header__bg {
    display: flex;
  }

  .header__bg--img {
    transform: translateY(-10%);
  }
}

@media (max-width: 1055px) {
  .header__content,
  .header__content--buttons {
    width: 64%;
  }

  .header__content--title {
    font-size: 36px;
  }
}

@media (max-width: 1023px) {
  .aboutUs__sections {
    width: 100vw;
  }

  .aboutUs__sections--bg,
  .scrollGif__icon {
    display: none;
  }

  .aboutUs__sections--links {
    display: flex;
    justify-content: space-around;
  }

  .aboutUs__button {
    width: 30%;
    border-radius: 20px;
    transition: none;
  }

  .aboutUs__button::after {
    border: 2px solid white;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    transform: translateY(2px);
    border-radius: 20px;
  }

  .aboutUs__button.active::after {
    border: 2px solid rgb(60, 196, 188);
    background-color: rgb(60, 196, 188);
  }

  .aboutUsContent__wrapper {
    width: 90vw;
  }

  .footer__bg {
    width: 68vw;
  }

  .footer__right {
    width: 32vw;
  }
}

@media (max-width: 990px) {
  .nav__top--menu,
  .nav__top--closeMenu {
    display: block;
  }

  .nav__contact,
  .nav__top--splitter,
  .nav__bottom--arrow,
  .nav__bottom,
  .header__bgfilter {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 85vh;
  }

  header>:last-child {
    top: 64%;
  }

  .scrollGif__icon {
    display: block;
  }

  .header__arrow--right, .header__arrow--left {
    background-color: rgb(60, 196, 188);
    color: white;
  }

  .header__bg {
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    height: 60vh;
  }

  .header__bg--img {
    transform: translateY(0%);
  }

  .photoCircles__wrapper {
    bottom: 232px;
  }

  .header__wrapper {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 32px 0 48px 0;
    display: flex;
    align-items: center;
  }

  .header__content {
    margin-left: 5vw;
  }

  .header__content--title {
    font-size: 28px;
  }

  .header__content--para {
    font-size: 14px;
  }

  .header__content--buttons {
    flex-direction: column;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .header__button {
    margin: 0;
    width: 60%;
    height: 48px;
  }

  .quotes__quote {
    font-size: 20px;
  }

  .quotes__quote.bottom {
    font-size: 40px;
  }

  .footer__bg {
    width: 60vw;
  }

  .footer__right {
    width: 40vw;
  }

  .footer__links--list {
    margin-right: 24px;
  }

  .footer__link--href {
    font-size: 16px;
  }

  .section__title {
    font-size: 28px;
  }

  .aboutUs__sections--links {
    width: 80%;
  }

  .aboutUsContent__left {
    width: 35%;
  }

  .aboutUsContent__left--para {
    font-size: 16px;
  }

  .aboutUsContent__left--title {
    font-size: 20px;
  }

  .aboutUsContent__right {
    width: 60%;
  }

  .aboutUsContent__arrows {
    right: 22%;
  }

  .services {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }

  .service {
    width: calc(100% / 2);
    padding: 0 16px;
    margin-top: 32px;
  }

  .photoViewer__img.horizontal {
    width: 100%;
    height: 70%;
  }

  .photoViewer__img--container {
    display: flex;
    align-items: center;  
  }
}

@media (max-width: 769px) {
  header {
    height: auto;
  }

  .scrollGif__icon {
    left: 50%;
  }

  .header__wrapper {
    flex-direction: column;
    align-items: start;
  }

  .header__content {
    margin-bottom: 32px;
    width: 90vw;
  }

  .header__content--title {
    font-size: 36px;
  }

  .header__content--para {
    font-size: 16px;
  }

  .header__content--buttons {
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: auto;
  }

  .header__button {
    width: 40%;
    min-width: 180px;
  }

  .header__bg {
    overflow-x: hidden;
    justify-content: center;
  }

  .header__bg--img {
    height: auto;
    width: 100%;
  }

  .header__arrow--left.about, .header__arrow--right.about {
    background-color: rgb(172, 204, 212);
  }

  .header__arrow--left.about:hover, .header__arrow--right.about:hover {
    background-color: rgb(172, 204, 212);
  }

  .photoCircles__wrapper {
    transform: translateY(-90px);
    left: 46%;
  }

  .aboutUs__bgfilter {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .aboutUs__bg,
  .aboutUsContent__arrows,
  .section__wrapper.aboutUs {
    display: none;
  }

  .section__wrapper.aboutUs.phone {
    display: flex;
    padding-bottom: 0;
  }

  .aboutUsContent__left--title,
  .aboutUsContent__left--para,
  .section__title.aboutUs {
    color: rgb(225, 225, 225);
  }

  .section__title.aboutUs::after {
    border: 1px solid rgb(225, 225, 225);
  }

  .aboutUsContent__left--title {
    position: relative;
  }

  .aboutUsContent__left--title::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 24px;
    border: 2px solid rgb(255, 255, 255);
  }

  .aboutUsContent__wrapper {
    flex-direction: column-reverse;
    height: auto;
    padding: 32px 0;
    position: relative;
  }

  .aboutUsContent__wrapper::after {
    content: "";
    position: absolute;
    border: 1px solid rgb(134, 134, 134);
    width: calc(100vw - 2px);
    left: -5vw;
    bottom: 0;
  }

  .aboutUsContent__left {
    width: 100%;
    margin-top: 48px;
  }

  .aboutUsContent__right {
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    max-width: 592px;
    margin: auto;
  }

  .aboutUsContent__right:hover .aboutUsContent__right--img {
    transform: scale(100%);
    filter: blur(0px);
  }

  .footer__link--href {
    font-size: 14px;
  }

  .footer__quote {
    text-align: center;
  }
}

@media (max-width: 601px) {
  .header__bg--img {
    height: 100%;
    width: auto;
  }

  .footer__img {
    width: 80%;
    height: auto;
  }

  .footer__quote {
    text-align: center;
  }
}

@media (max-width: 585px) {

  .quotes__bg--img {
    transform: scale(1.25);
  }

  #footer {
    height: auto;
  }

  .footer__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .footer__bg {
    width: 100%;
    height: 30vh;
  }

  .wrapper.footer {
    width: 100vw;
    justify-content: center;
    position: relative;
    height: auto;
    padding: 48px 0 32px 0;
  }

  .footer__links--list {
    align-items: center;
    height: auto;
    margin: 0 16px;
  }

  .footer__links--list::before {
    top: 32px;
  }

  .footer__link {
    margin: 8px 0;
  }

  .footer__right {
    position: relative;
    width: 100%;
    background-color: rgb(196, 212, 208);
    padding: 32px 0;
  }

  .footer__img {
    width: 40%;
    margin-bottom: 24px;
  }

  .footer__quote {
    font-size: 20px;
  }
}

@media (max-width: 520px) {
  .photoCircles__wrapper {
    left: 50%;
    top: 54% !important;
    transform: translate(-50%, -50%);
  }

  .scrollGif__icon {
    left: 48%;
  }
}
